### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

### VisualStudioCode ###
/.vscode

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Python venv
/drf-env